@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Projec Forecase OA System</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link href="/Templates/css/stylesheets.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/Templates/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/Templates/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Templates/js/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/Templates/js/plugins/jquery/globalize.js"></script>
    <script type="text/javascript" src="/Templates/js/plugins/bootstrap/bootstrap.min.js"></script>

    
</head>
<body>
    <input id="env_config" type="hidden" value="@ViewBag.EnvConfigRole" />
    <template id="vue-container">
    </template>
    <script src="//cdn.bootcss.com/signalr.js/2.2.1/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="//cdn.bootcss.com/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
    <script src="/client/_dist/bundle.js"></script>
</body>
</html>

<style>
    .login-block {
    width: 300px;
    margin: 100px auto 0px;
}
    .block {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    position: relative;
}
    .block > div:first-child {
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
    .block .content.controls {
    padding: 0px 5px 15px 5px;
}
    .block > div:last-child {
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
    .form-control, input, select, select[multiple], textarea {
    background: rgba(0,0,0,0.2);
    border-color: transparent;
    color: #fff;
}
    input, select, textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.4285;
    vertical-align: middle;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .form-row {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    line-height: 30px;
}
    [class^='col-xs-'], [class^='col-sm-'], [class^='col-md-'], [class^='col-lg-'] {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
    .input-group {
    line-height: 28px;
}
    .input-group :first-child.form-control, :first-child.input-group-addon, :first-child.input-group-btn > .btn, :first-child.input-group-btn > .btn-group > .btn, :first-child.input-group-btn > .dropdown-toggle, :last-child.input-group-btn > :not(:last-child).btn-group > .btn, :last-child.input-group-btn > :not(:last-child):not(.dropdown-toggle).btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

</style>